.photo-grid {
    max-width: 1184px;
    margin: 0 auto 80px;
    display: flex;
    justify-content: center;
}

@media all and (max-width:1200px) {
    .photo-grid {
        max-width: 95%;
    }
}

@media all and (max-width:320px) {
    .photo-grid {
        margin-bottom: 64px;
    }
}